# Python
.venv
.env
__pycache__
*.pyc
*.db
*.sqlite
*.db-journal
.pytest_cache
build
# Node / Frontend
node_modules/
dist/
.npm
build_error.txt

# Editor / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data / Temp
temp_*
*.xlsx
!employee_work_shift.xlsx
*.log
backend/logs/
backend/static/
backend/__pycache__/
